version: '3.8'
services:

 netflowdb:
    container_name: netflowdb
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - phonebookdb:/var/lib/postgresql/data
volumes:
  netflowdb:
    driver: local
